.todo-item {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.check-icon {
	color: #0e1572;
	transition: 0.3s;
}
.check-icon:hover {
	color: #1da30b;
	font-size: 20px;
	cursor: pointer;
}

.check-icon-completed {
	color: #1da30b;
	transition: 0.3s;
}
.check-icon-completed:hover {
	color: #71d9e7;
	font-size: 20px;
	cursor: pointer;
}

.todo-completed {
	text-decoration: line-through;
}

.icon {
	margin-right: 20px;	
	font-size: 20px;
	display: flex;
}